<div class="container mt-4">
  <h1>Recipe Suggestions</h1>

  <%= form_with url: suggestions_recipes_path, method: :get, local: true, class: 'mb-4' do %>
    <div class="form-group">
      <label for="ingredients">Ingredients (comma separated):</label>
      <input type="text" name="ingredients" id="ingredients" class="form-control" value="<%= params[:ingredients] %>">
    </div>
    <div class="form-group">
      <label for="limit">Limit:</label>
      <input type="number" name="limit" id="limit" value="<%= params[:limit] || 10 %>" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Get Suggestions</button>
  <% end %>

  <% if @recipes.present? %>
    <h2>Suggested Recipes</h2>
    <ul class="list-group mb-4">
      <% @recipes.each do |recipe| %>
        <li class="list-group-item">
          <%= link_to recipe.title, recipe_path(recipe), class: "recipe-link" %>
          (Matched Ingredients: <%= recipe.match_count %>)
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No suggestions found.</p>
  <% end %>
</div>
